.Home__Container {
    display: flex;
    position: relative;
    .canvas__container {
        flex: 5;
        .Home__Container_cards {
            display: flex;
            margin-top: 15px;
            margin-left: 15px;
        }

        .canvas__bottom {
            display: flex;
            justify-content: space-between;
            
        }

    }
}